*.ipynb
*.pyc
*.txt
!*requirements*
*venv*
*.json
*.html
README.txt
*USD*
*usd*
*docs*
*examples*
*pics*
*test*
*pycache*
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage.*
*.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
build
dist
*test*
*.egg-info*
*.ipynb
